In [2]:
import pandas as pd
pred_data= pd.read_csv('../data/korean_data_pred.csv')
pred_data

,나이,성별,신장,체중,활동량계수,BMR,에너지 섭취량(Kcal),일일 칼로리 잉여/적자,체중변화예측
0,70.0,2.0,151.2,41.8,1.200,1022.400000,922.289958,-100.110042,[-0.65474707]
1,42.0,2.0,156.7,53.5,1.200,1372.050000,3521.884974,2149.834974,[1.8761165]
2,43.0,1.0,185.0,79.8,1.200,2093.100000,2624.110312,531.010312,[6.3378754]
3,42.0,1.0,172.5,67.7,1.200,1860.150000,2243.391641,383.241641,[7.7816358]
4,38.0,2.0,160.9,43.4,1.200,1306.350000,1649.091552,342.741552,[2.5878127]
...,...,...,...,...,...,...,...,...,...
4292,80.0,1.0,162.4,63.3,1.200,1503.600000,1346.633466,-156.966534,[-1.8370743]
4293,78.0,2.0,157.3,71.7,1.375,1580.046875,1838.070072,258.023197,[1.1284618]
4294,61.0,2.0,145.1,40.2,1.375,1158.953125,1686.294918,527.341793,[0.50365126]
4295,57.0,1.0,172.8,74.4,1.375,2123.000000,1629.256388,-493.743612,[-17.903847]
4296,49.0,1.0,176.9,63.4,1.200,1799.550000,2628.111271,828.561271,[12.095257]